<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <title>Сервис проверки беременных женщин</title>
    </head>
    <body>
        {{{body}}}
        <!-- Подключаем jQuery -->
        <script src="jquery.min.js"></script>
        <!-- Подключаем Bootstrap JS -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Подключаем скрипт получения информации по api -->
        <script src="getPersonInfo.js"></script>
        <script>
            // отправка формы
            document.forms["getPersonInfo"].addEventListener("submit", e => {
                e.preventDefault();
                const form = document.forms["getPersonInfo"];
                const snils = form.elements["snils"].value;
                const f = form.elements["f"].value;
                const i = form.elements["i"].value;
                const o = form.elements["o"].value;
                const dr = form.elements["dr"].value;
                getPersonInfo(snils, f, i, o, dr);
            });
        </script>
    </body>
</html>
