<div class="container-sm">
    <div class="row my-1">
        <div class="col text-center p-3">
            <h3>Аутентификация</h3>
        </div>
    </div>
    <form name="getPersonInfo" action="" method="post" enctype="multipart/form-data">
        <div class="row my-1">
            <div class="col border border-primary p-3 text-center">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="min-width: 160px;">Пользователь</span>
                    </div>
                    <input id="login" name="login" type="text" class="form-control">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="min-width: 160px;">Пароль</span>
                    </div>
                    <input id="password" name="password" type="password" class="form-control">
                </div>
                <div class="panel-body">
                    <button type="submit" class="btn btn-sm btn-primary">Войти</button>
                </div>
            </div>
        </div>
    </form>
</div>
