<!DOCTYPE html>
<html>
    <head>
        <title>Система мониторинга медицинского оборудования Сахалинской области</title>
        <link rel="stylesheet" href='/stylesheets/fontawesome.all.min.css' />
        <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' />
        <link rel="stylesheet" href='/stylesheets/bootstrap-select.min.css' />
        <link rel="stylesheet" href="/stylesheets/gijgo.min.css" />
        <link rel="stylesheet" href='/stylesheets/app.css' />
        <script src="/javascripts/chart/color-gen.js"></script>
        <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/bootstrap-select.min.js"></script>
        <script src="/javascripts/chart.bundle.min.js"></script>
        <script src="/javascripts/utils.js"></script>
        <script src="/javascripts/gijgo.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand logo"></a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-3">
                    <a href="/" class="nav-link text-white">
                        Главная страница
                    </a>
                </li>
            </ul>
        </nav>
        {{/if}}
    {{{body}}}
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </body>
</html>
